*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    background-color:white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    
}

.logo {
    position: fixed; /* Fix it to the top-left */
    top: 20px;
    left: 20px; /* Adjust left spacing if needed */
    z-index: 10;
}

.logo a{
    color: black;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}
.box{
    height: 1225px;
    background-color: gray;
    width: calc(100% - 30px);
    position: relative;
    bottom: 100px;
    padding: 15px;
    margin: 50 auto;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
}
.kin{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    gap: 20px;
}
.kin-button, .vec-button{
    display: inline-block;
    padding: 100px 110px;
    background-color: white;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
}
.kin-button:hover{
    background-color: rgb(255, 0, 0);
}
.vec{
    
    margin-left: 500px;
}
.vec-button{
    margin-left: 0;
}
.vec-button:hover{
    background-color: rgb(255, 174, 0);
}
.logo a:hover{
    color: blanchedalmond;
}

@media (max-width: 768px){

    .logo a {
        font-size: 1.5rem;
    }

    .box {
        height:auto;
        width: 100%;
        bottom: 0;
        border-radius: 0;
        padding: 10px;
    }

    .kin{
        margin-top: 20px;
        flex-direction: column;
        gap: 10px;
    }

    .kin-button,.vec-button{
        padding: 50px 60px;
        font-size: 2rem;
    }

    .vec {
        margin-left: 0;
    }
}