html{
    scroll-behavior: smooth;
}

a{
    transition: all .3s ease-in-out;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5ebe1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
}
.logo {
    position: fixed; /* Fix it to the top-left */
    top: 20px;
    left: 20px; /* Adjust left spacing if needed */
    z-index: 10;
}

.logo a{
    color:  #203354;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.4s ease;
}
.logo a:hover{
    color: #fff;
    background: #203354;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
.header{
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    width: calc(100% - 30px);
    padding: 15px;
    background: #203354;
    margin: 0 auto;
    border-radius: 15px;
    text-transform: uppercase;
    color: #faf8ef;
    font-size: 5rem;
    font-weight: 700;
    margin-top: 90px;
    animation: slideIn 1s ease-in-out;
}
.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 800px;
    max-height: 1000px;

}

h1 {
    text-align: center;
    color: #203354;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

label {
    display: block;
    margin: 20px 0 10px;
    font-size: 1.2rem;
    color: #203354;
    font-weight: 600;
}

input,textarea {
    width: 100%;
    padding: 15px 20px;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f8f9fa;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #203354;
    box-shadow: 0 0 8px rgba(32, 51, 84, 0.3);
}

button {
    width: 100%;
    padding: 15px;
    background-color: #203354;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #354a66;
    transform: scale(1.02);
    
}

.error {
    border: 3px solid red;
}

.errorText {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    border-radius: 8px;
    font-size: 1rem;
}

.successText {
    margin-top: 10px;
    padding: 10px;
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
    border-radius: 8px;
    font-size: 1rem;
}