*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #f0f4f8;
    color: #333;
    padding: 20px;
    overflow-x: hidden;
}
.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.logo a {
    color: #203354;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

.header{
    text-align: center;
    color: #203354;
    font-size: 3rem;
    font-weight: bold;
    margin: 40px 0;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.what-is-it-container, .concepts-container, .formula-container, .kinematics-calculator {
    width: calc(100% - 30px);
    background: #fff;
    border: 3px solid #203354;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.what,.concepts-header, .formula-header{
    font-size: 2rem;
    color: #203354;
    margin-bottom: 10px;
}
.def-what, .concepts-content{
    font-size: 1.2rem;
    color: #333;
}

.formula-box{
    background: #203354;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}
.form-group{
    margin-bottom: 15px;
}
label{
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #203354;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #203354;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background: #67aaf1;
}

/* Result Text */
.result-text {
    font-size: 1.2rem;
    color: #203354;
    font-weight: bold;
    margin-top: 20px;
}